{{ header("facet-json") }}

Provides JSON serialization and deserialization for any type that implements `Facet`.

### Example

```rust
# use facet_trait::Facet;
# use facet_derive::Facet;
# use facet_trait as facet;

#[derive(Debug, Facet, PartialEq)]
struct User {
    name: String,
    age: u64,
}

let json = r#"{"name": "Alice", "age": 30}"#;
let user: User = facet_json::from_str(&json).unwrap();
assert_eq!(user, User { name: "Alice".into(), age: 30 });
```

{{ footer() }}
