[package]
name = "facet"
version = "0.1.18"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
description = "Re-exports the Facet trait and derive macros, along with Shape and all related types"
keywords = ["facet", "introspection", "reflection"]
categories = ["development-tools"]

[dependencies]
facet-core = { path = "../facet-core", version = "0.5.0", default-features = false }
facet-derive = { path = "../facet-derive", version = "0.1.16" }

[features]
# Does nothing, only used for tests
testfeat = []
std = ["facet-core/std", "alloc"]
alloc = ["facet-core/alloc"]
default = ["std"]

[dev-dependencies]
facet-poke = { path = "../facet-poke", version = "0.6.0" }
